body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:580px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:39px;
  top:13px;
  width:209px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:270px;
  top:137px;
  width:140px;
  height:22px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2_input:disabled {
  color:grayText;
}
#u3 {
  position:absolute;
  left:16px;
  top:60px;
  width:172px;
  height:15px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:15px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:420px;
  top:133px;
  width:100px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:16px;
  top:98px;
  width:200px;
  height:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:16px;
  top:85px;
  width:564px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:547px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:564px;
  height:1px;
}
#u10 {
  position:absolute;
  left:16px;
  top:24px;
  width:23px;
  height:16px;
  font-size:28px;
}
#u11 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12 {
  position:absolute;
  left:16px;
  top:119px;
  width:564px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:547px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:564px;
  height:1px;
}
#u13 {
  position:absolute;
  left:16px;
  top:255px;
  width:113px;
  height:15px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:16px;
  top:285px;
  width:137px;
  height:15px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:520px;
  top:255px;
  width:60px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:440px;
  top:255px;
  width:70px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:16px;
  top:310px;
  width:564px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:547px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:564px;
  height:1px;
}
#u22 {
  position:absolute;
  left:16px;
  top:330px;
  width:113px;
  height:15px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:16px;
  top:355px;
  width:30px;
  height:15px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:520px;
  top:330px;
  width:60px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:440px;
  top:330px;
  width:70px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:16px;
  top:380px;
  width:564px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:547px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:564px;
  height:1px;
}
#u31 {
  position:absolute;
  left:470px;
  top:540px;
  width:110px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:16px;
  top:420px;
  width:564px;
  height:100px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:100px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34 {
  position:absolute;
  left:16px;
  top:395px;
  width:88px;
  height:15px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:15px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:50px;
  top:133px;
  width:100px;
  height:30px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:160px;
  top:133px;
  width:100px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:16px;
  top:219px;
  width:100px;
  height:21px;
  font-size:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
