body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:310px;
  width:100px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:95px;
  width:310px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:50px;
  top:70px;
  width:66px;
  height:15px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:50px;
  top:130px;
  width:97px;
  height:15px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:50px;
  top:150px;
  width:310px;
  height:150px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:150px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:16px;
  top:13px;
  width:140px;
  height:37px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:37px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
