body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:35px;
  width:310px;
  height:25px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:35px;
  height:15px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:10px;
  top:95px;
  width:310px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:10px;
  top:70px;
  width:38px;
  height:15px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:15px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:10px;
  top:155px;
  width:310px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:10px;
  top:130px;
  width:58px;
  height:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:10px;
  top:190px;
  width:110px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
